venv/
__pycache__/
*.pyc
db.sqlite3
.env
config/transactions.csv
config/test_upload.py

# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ------------------------------
# Virtual Environment
# ------------------------------
venv/
fintech/
env/

# ------------------------------
# Django
# ------------------------------
db.sqlite3
*.log

# ------------------------------
# Environment Variables
# ------------------------------
.env

# ------------------------------
# VS Code / IDE
# ------------------------------
.vscode/
.idea/

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Optional (project specific)
# ------------------------------
*.csv